body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(90, 173, 212);
    color: #fff;
    padding: 10px 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  padding: 0;
}

.navbar h1 img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
}

.logo-search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-input {
  padding: 8px 10px;
  border: 2px solid rgb(22, 55, 113); 
  border-radius: 20px; 
  outline: none;
}

.search-bar button {
  padding: 8px 15px;
  background-color: rgb(22, 55, 113);
  border: none;
  color: white;
  border-radius: 20px; 
  cursor: pointer;
  outline: none;
}

.search-button-av {
  padding: 8px 15px;
  background-color: rgb(22, 55, 113);
  border: none;
  color: white;
  border-radius: 20px; 
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.search-button:hover {
  background-color: #0056b3; 
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.user-profile span {
  color: rgb(23, 36, 78); 
  font-weight: bold;
  margin-right: 50px;
}

/* Otros estilos... */


.fila {
  display: flex;
  justify-content: center;
}
.columna {
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  text-align: center; 
}
 
.recuadro-1 {
  background-color: rgb(255, 255, 255); 
  border-radius: 10px; 
  padding: 15px;
  margin-top: 150px;
}

.recuadro-3 {
  display:block;
  background-color: rgb(166, 166, 166); 
  border-radius: 10px; 
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}

.perfil-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.perfil-info {
  display: flex;
  align-items: center;
}

.perfil-img {
  max-width: 50px;
  border-radius: 50%;
}

.bandera-img {
  max-width: 50px;
  border-radius: 5px;
}

.follow-btn {
  padding: 8px 15px;
  background-color: rgb(254, 5, 124);
  border: none;
  color: white;
  border-radius: 20px; 
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.favorites-btn{
  padding: 8px 15px;
  background-color: rgb(254, 5, 124);
  border: none;
  color: white;
  border-radius: 20px; 
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.stars-container {
  margin-top: 10px;
}

.star {
  color: #ffd700;
  font-size: 20px;
}

.description {
  margin-top: 10px;
}

.imagen1 {
  max-width: 200px;
  height: auto;
  margin-top: auto; 
  text-align: center;
}

.Create-button-Cp {
  padding: 8px 15px;
  background-color: rgb(22, 55, 113);
  border: none;
  color: white;
  border-radius: 20px; 
  cursor: pointer;
  outline: none;
  font-size: large;
}

.recuadro-2 {
  display: inline-block;
  background-color: rgb(214, 133, 172); 
  border-radius: 10px; 
  padding: 15px;
  text-align: left;
  margin-top: 100px;
}

.lista-paises {
  list-style: none; 
  padding: 0; 
}

.lista-paises li {
  margin-bottom: 10px; /
}

.bandera-pequeña {
  width: 60px; 
  height: auto; 
  vertical-align: middle;
  margin-right: 30px; 
}


  .izquierda, .derecha {
    flex: 1;
  }
  .centro-amplio {
    flex: 2;
  }
  
  
  @media screen and (max-width: 600px) {
    .fila {
      flex-direction: column;
    }
    .centro-amplio {
      flex: 1;
    }
  }

footer {
    background: rgb(22, 55, 113);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
