.BuscadorContenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
.Barra{
  display: flex;
  align-items: center;
  background-color: rgb(22, 55, 113);
  padding: 1px 5px 1px 5px;
  border-radius: 25px;
}
  
.Barra:hover{
  background-color: rgb(227, 46, 118);
}
  
.BarraBuscador{
  border-radius: 0 25px 25px 0;
}


  
.Barra button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0%;
}
  
.Barra button:hover{
  background-color: rgba(255, 11, 11, 0);
}
  
.Barra button:focus{
  background-color: rgba(255, 255, 255, 0);
}
  
.Barra button:active{
  background-color: rgba(255, 255, 255, 0) !important;
}
  
.Navbar_Buscador_BusAvan{
  background-color: rgb(22, 55, 113);
  border-radius: 25px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.Navbar_Buscador_BusAvan:hover{
  background-color: rgb(227, 46, 118);
  color: black;
}

.Navbar_Buscador_Boton{
  font-size: 21px;
}