.CrearPublicacion{
  min-height: 600px;
}

.ROW {
  width: 700px; 
  height: 400px; 
  background-color: rgb(90, 173, 212);
  border: 20px;
  border-radius: 15px; 
  display: flex; 
  border-color:rgb(254, 5, 124);
  border-style: solid;
}

.COL {
  min-width: 200px; 
  max-width: 500px;
  min-height: 300px;
  flex: 1;
  background-color: rgb(90, 173, 212); 
  margin: 10px; 
  border-radius: 10px; 
  display: flex;
  flex-direction: column; 
}
/*
.Izquierdo{
  min-width: 400px;
  border-right: solid #dbdbdb;
}
*/
.input-container {
  margin-bottom: 10px;
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.input-container .input-label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px; 
}
.input-container input.blue-border,
.input-container select.blue-border {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgb(139, 224, 236); 
  margin-top: 5px;
}
.image-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-grow: 1;
  overflow: hidden; 
}
.image-container img {
  max-width: 100%; 
  max-height: 100%; 
}
.button-container {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  flex-grow: 1; 
  margin-top: 10px;
  margin-bottom: 10px;
}
.fotoinput{
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgb(139, 224, 236); 
  margin-top: 5px;
  width: 80%;
}

.Mibtn{
  background-color: rgb(22, 55, 113);
  border-radius: 35px;
  padding: 5px 15px 5px 15px;
  margin: 3px;
  font-size: 30px;
  color: white;
  border: none;
}

.Mibtn:hover{
  background-color: rgb(227, 46, 118);
  color: hwb(0 0% 100%);
}