.Filtros{
  background-color: rgb(187, 206, 225);
  border-radius: 20px;
  padding: 15px;
  width: 100%;
}

.Filtros h1{
  margin-bottom: 20px;
}

.Filtros input{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  border-color: rgb(22, 55, 113);
  background-color: rgb(241, 240, 255);
  text-indent: 5px;
  height: 35px;
  width: 80%;
}

.Filtros input:hover{
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 19, 153);
  color: white;
}

.Filtros Select{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  border-color: rgb(22, 55, 113);
  background-color: rgb(241, 240, 255);
  text-indent: 5px;
  height: 30px;
  width: 60%;
}

.Filtros Select:hover{
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 19, 153);
  color: white;
}

.Filtros h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
}

.Filtros p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 28px;
  margin: 0px;
}