.Contenedor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
}

.LinkUsuario{
  display: flex;
  align-items: center;
}

.Nombre_Usuario{
  text-decoration: underline;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: rgb(40, 40, 40);
}

.Imagen_Usuario{
  min-width: 30px;
  min-width: 30px;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
  border-radius: 40px;
}