.Navibar{
  background-color: rgb(90, 173, 212);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  flex-wrap: wrap;
}
  
.logoBoton {
  width: 5vw;
  height: auto;
  margin: 0px;
}

.LogoNavibar{
  margin: 0;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: contents;
}

.LogoNavibar h1{
  margin-bottom: 0%;
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  .LogoNavibar h1{
    font-size: 15px;
  }
  .logoBoton{
    max-width: 38px;
    min-width: 38px;
    max-height: 38px;
    min-height: 38px;
  }
}