.Navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(90, 173, 212);
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
}

.NavbarCentro{
  margin: 0 10px;
}

@media screen and (max-width: 500px) {
  .Navbar{
    display: flex;
    justify-content: center;
  }
}