.DivUsu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.UsuLink{
  color: #fff;
  text-decoration: none;
}

.UsuLink:hover{
  color: rgb(227, 46, 118);
  text-decoration: underline;
}

.UsuNom{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin-bottom: 0px;
}

.UsuImg{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin-left: 5px;
}

.IniReg{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  background-color: rgb(22, 55, 113);
  border-radius: 30px;
  padding: 5px 15px;
  display: flex;
  text-align: center;
}

.IniReg:hover{
  background-color: rgb(227, 46, 118);
}

.IniRegLink{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.IniRegLink:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .IniReg{
    font-size: 15px;
  }

  .UsuNom{
    font-size: 15px;
  }

  .UsuImg{
    max-width: 38px;
    min-width: 38px;
    max-height: 38px;
    min-height: 38px;
  }
}