.ContainerPublic {
  background-color: rgb(192, 188, 184);
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
}

.ImgContainer {
  width: 100%;
  padding-top: 100%; /* Esto crea una relación de aspecto 1:1 (cuadrada) */
  position: relative;
}

.ImgUsu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 2px rgb(49, 49, 49);
}

.DivCentro{
  align-self: center;
}

.LinkUsuName{
  font-size: 40px;
  padding-right: 5px;
}

.NomBot{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.FechaRating{
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
}

.PaisReacc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PublicBan{
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;
  border-radius: 50%;
}

.ContenedorContenido{
  border-top: solid #a09e9e;
  margin-top: 10px;
  padding-top: 10px;
  min-height: 200px;
}

.MiCarouselContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 500px;
}

.PublicImagen{
  width: 100%;
  height: 100%;
  max-height: 500px;
  border-radius: 20px;
}



